.efm_metabox{
	border: 1px solid #DFDFDF;
	border-bottom: 0 none;
    margin: 10px 0;
}

/*** Form style ***/
.efm_metabox .form_block{
    padding: 12px 18px 18px;
	border-bottom: 1px solid #DFDFDF;
}
.efm_metabox .form_block:hover{
	background-color: #FAFAFA;
}
.efm_metabox .form_block label{
	color: #505050;
    font-weight: bold;
}
.efm_metabox .form_block label,
.efm_metabox .form_block .description{
	display: block;
	line-height: 1;
	padding: 2px 2px 0;
}
.efm_metabox .form_block label .required{
	color: red;
}
.efm_metabox .form_block textarea,
.efm_metabox .form_block input[type="text"], 
.efm_metabox .form_block input[type="password"],  
.efm_metabox .form_block input[type="email"], 
.efm_metabox .form_block input[type="number"], 
.efm_metabox .form_block input[type="tel"], 
.efm_metabox .form_block input[type="url"], 
.efm_metabox .form_block select { 
	color: #555555;
    margin: 5px 0;
    min-width: 320px;
    padding: 8px;
    width: 50%;
}
.efm_metabox .form_block select {
	padding: 0;
}
.efm_metabox .form_block textarea{
	width: 100%;
}
.duplicable .efm_box{ margin: 0; }
.duplicable .efm_box li{ margin: 2px 0 0; }
.efm_upload_btn .remove,
.efm_upload_btn .add,
.duplicable .remove,
.duplicable .add{
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;    
    margin-left: 2px;
    padding: 8px;
}
.efm_upload_btn .add span,
.efm_upload_btn .remove span,
.duplicable .add span,
.duplicable .remove span{
	background: url("../images/remove.png") no-repeat scroll left center transparent;  
	display: inline-block;
    height: 16px;
    padding-left: 22px;
}
.efm_upload_btn .add span,
.duplicable .add span{
	background-image: url("../images/add.png");    
}
.duplicable .single .remove{ display: none; }

/* File Upload */
.filelist {
    width: 60%;
}
.filelist .file {
    padding: 5px;
    background: #ececec;
    border: solid 1px #ccc;
    margin-bottom: 4px;
}
.filelist .fileprogress {
    width: 0%;
    background: #B7C53D;
    height: 5px;
}
.plupload-thumbs {
 
}
.plupload-thumbs .thumb {
    width: 50px;
    padding-right: 5px;
    float: left;
}
.plupload-thumbs .thumb img {
    width: 50px;
    height: 50px;
}
.ui-sortable  .thumb img {
    cursor: pointer;
}
/* Image field */
.efm_upload_btn{ padding: 10px 15px 15px 0; }
.efm_image {}
.efm_image li {
	float: left;
    margin-right: 15px;
}
.efm_image img {
	background-color: #FFFFFF;
    border: 1px solid #DADADA;
    max-width: 120px;
    padding: 10px 10px 30px;
}
.efm_image .remove,
.efm_image .add{ position: absolute; }
.efm_image .img_pw {
	max-width: 144px;
    position: relative;
}
.efm_image .img_pw .remove{ 
	border-radius: 0 0 0 0;
    bottom: 15px;
    line-height: 1;
    margin: 0 auto;
    padding: 0;
    right: 13px;
    text-decoration: none;
}
.efm_image.multiple .img_pw img{
	cursor: move;
}