/*** Layout ***/
#panel-menu-settings{
	clear: both;
    content: ".";
    display: block;
    height: 0;
	margin-left: 450px;
}
#left-side-form-column{
	clear: both;
    display: inline;
    float: left;
    margin-left: -450px;
    width: 431px;
}
#right-side-liquid{
	float: left;
    min-width: 100%;
}
#left-side .inside,
#right-side-liquid .inside {
    margin: 0;
    padding: 0;
}
#left-side .inside .misc-pub-section:last-child,
#right-side-liquid .inside .misc-pub-section:last-child{
    border-bottom: 0 none;
}
.main {
    background-color: white;
}
.main .label {
    margin-right: 5px;
}
.assigned,
.available{ min-height: 62px; }

/*** Form style ***/
div.form_block:first-child{
	margin-top: 15px;
}
div.misc-pub-section.form_block:first-child{
	margin-top: 0;
}
div.form_block{
	margin-bottom: 15px;
}
div.misc-pub-section.form_block{
	margin-bottom: 0;
}
div.form_block label,
div.form_block .description{
	display: block;
	padding: 2px;
}
div.form_block label .required{
	color: red;
}
div.form_block textarea,
div.form_block input[type="text"], 
div.form_block input[type="password"],  
div.form_block input[type="email"], 
div.form_block input[type="number"], 
div.form_block input[type="tel"], 
div.form_block input[type="url"], 
div.form_block select { width: 100%; }

/*** Drag & Drop ***/
ul.field{ 
	margin: 2px 0; 
	min-height: 50px;
	width: 100%;
}
ul.field li.menu-item-handle{
    line-height: 1;
    margin-bottom: 12px;
    padding: 10px 14px 14px;
    width: auto;
}
#assigned {   }

ul.field li .drag-icon{
	background: url("../images/drag-up-and-down.png") no-repeat scroll 0 0 transparent;
    height: 13px;
    padding: 0;
    position: absolute;
    top: 14px;
    width: 10px;
}
ul.field li:hover .drag-icon{
	background-position: 0 -13px;
	color: #333;
}
ul.field .field-label{
	color: #555555;
    font-weight: bold;
    line-height: 18px;
    margin: 0 0 0 22px;
}
ul.field .item-desc{ margin: 2px 0 0 22px; }
ul.field .field-name{ margin: 0 20px 0 0; }
ul.field .field-name,
ul.field .field-type{
	color: #A0A0A0;
    font-size: 11px;
}
ul.field .field-name span,
ul.field .field-type span{ color: #777777; }
ul.field .field-name:after{
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	background-color: #A0A0A0;
    content: "";
    display: inline-block;
    height: 5px;
    margin: 5px 10px 0;
    position: absolute;
    width: 5px;
}
ul.field .item-actions{
	display: none;
    font-size: 9px;
    line-height: 12px;
    margin: 0 0 0 5px;
    text-transform: uppercase;
    vertical-align: middle;
}
ul.field .item-actions a{ text-decoration: none; }
ul.field li:hover .item-actions{ display: inline; }
ul.field li:last-child,
ul.field li:last-child .menu-item-handle{ margin-bottom: 0; }
ul.sortable .highlight-drop{
	height: 56px;
	background-color: #FFFFE0;
    border: 1px solid #E6DB55;
}

/* We still need to override some default wp admin styles */
.nav-menus-php .meta-sep{
	display: inline;
	float: none;
}

/* Field */
.field_display_preview{ margin-top: 18px; }

/* Common */
.centered{ text-align: center; }
a.delete{
	border-bottom-color: #FF0000;
    color: #FF0000;
}